//APP

.app {
  display: flex;
  justify-content: center; //Centre notre container
  .container {
    width: 1524px;
    // width: auto;
    .layout {
      display: flex;
      justify-content: space-between;

      .layitem1 {
        width: 15%;
      }
      .layitem2 {
        width: 70%;
      }
      .layitem3 {
        width: 15%;
      }
    }
  }
}
